<div>
  <div class="spacer"></div>
  <div class="app-counter-container counter-container">
    <div class="remaining-life">
      <div class="app-life-counter life-counter"></div>
      <div class="border-fix"></div>
    </div>
  </div>
  <div class="app-controls controls">
    <span class="app-decrement-five decrement">-5</span>
    <span class="app-decrement-one decrement">-1</span>
    <span class="app-increment-one increment">+1</span>
    <span class="app-increment-five increment">+5</span>
  </div>
</div>
