<div>
  <div class="app-counter-container counter-container">
    <div class="remaining-life">
      <div class="app-life-counter life-counter"></div>
      <div class="border-fix"></div>
    </div>
  </div>
  <div class="app-controls controls">
    <a href="#" class="app-decrement-five decrement-five"><img src="img/counter/dec-5.png" /></a>
    <a href="#" class="app-decrement-one decrement-one"><img src="img/counter/dec-1.png" /></a>
    <a href="#" class="app-increment-one increment-one"><img src="img/counter/inc-1.png" /></a>
    <a href="#" class="app-increment-five increment-five"><img src="img/counter/inc-5.png" /></a>
  </div>
</div>
